body {
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  font-weight: 500;
  margin: 1.5em 0.5em 1em 0.5em;
}

#filterContainer {
  position: relative;
  display: flex;
  justify-content: center;
}

.filterDiv {
  font-size: 1.5rem;
  margin: 1em;
  position: relative;
  line-height: 1.5em;
}

.selectFilter {
  font-size: 1.15rem;
  display: inline-block;
  min-width: 100px;
  font-family: 'League Spartan', sans-serif;
  padding: 0.5em 0.5em 0.25em 0.5em;
  border: 2px solid #000;
  border-radius: 15px;
}